.text-color{
    color:rgb(43, 195, 241);
    text-align: center;
    margin-top: 2px;
}

.size{
    font-size:xx-large;
}

.style{
    font-style: italic;
}

.text-green{
    color:green;
}

.text-red{
    color:red;
}

.text-yellow{
    color:yellow;
}


